.rounded-box {
  height: 300px;
  width: 400px;
  background-color: aquamarine;
  border-top-left-radius: 10px;
  border-radius: 17em;
}

.shadowbox {
  box-shadow: 0 20px 30px -10px;
  height: 300px;
  width: 400px;
  background-color: aquamarine;
}

li:nth-child(3n + 1) {
  color: blue;
}

li:nth-of-type(2n + 1) {
  color: yellow;
}

input[type="radio"]:checked+label{
  text-decoration: underline;
}

p::first-letter {
  color: blue;
  font-size: 1.2rem;
}

a:link {
  color: red;
}

a:visited {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

a:active {
  font-size: 1.1rem;
}